# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore environment variables
.env

# Ignore cache directories
.cache/
.app-cache/

# Ignore Docker files
docker-compose.yml
Dockerfile

# Ignore IDE files
.vscode/
.idea/

# Ignore test results
test-results/
coverage/

# Ignore OS-specific files
.DS_Store
Thumbs.db

production-database-data/

grader-api/*.data