---
import Layout from "../layout/Layout.astro";
import Welcome from "../components/Welcome.svelte";
import GradingButton from "../components/GradingForm.svelte";
---

<Layout>
  <h1>Programming Assignments</h1>
  <p>Here you can practice solving different Python assignments.</p>

  <Welcome client:load />
</Layout>
